<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Todo</title>
    <link rel="stylesheet"
          href="//oss.maxcdn.com/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet"
          href="{{ request.static_url('todo:static/todo.css') }}">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand"
           href="{{ request.route_url('home') }}">ToDo</a>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ request.route_url('todos_list') }}">
                ToDos
            </a>
        </li>
    </ul>
</nav>

<div id="content" class="container">
  {% block content %}{% endblock %}
</div>

<script src="//oss.maxcdn.com/jquery/2.1.3/jquery.js"></script>
</body>
</html>
